// abstracts/_variables.scss
$color-primary: #1a76d1;
$color-primary-dark: #0d5eb3;
$secondary-color: #BF6836;
$color-text: #333;
$text-color-negative: #333;
$icon-size: 60px;
$footer-bg: #2A2A2A;
$footer-text: #ccc;
$footer-link: #fff;
$footer-hover: #007bff;
$sobre-bg: #f9f9f9;
$hero-height: 100vh;
$text-color: #fff;
$background-overlay: rgba(0, 0, 0, 0.5);
$transition-speed: 0.3s;
$beneficios-bg: wheat;
$servicos-bg: #f9f9f9;
$primary-color: $color-primary;