// Botão de agendamento
@use "sass:color";
@use '../abstracts/variables' as *;

.btn-agendar {
    background-color: $color-primary;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 600;
    transition: background-color 0.3s;
    margin-left: 15px;
    text-decoration: none;
    display: inline-block;
    
    &:hover {
        background-color: color.adjust($color-primary, $lightness: -10%);
    }
    
    @media (max-width: 768px) {
        margin: 15px 0 0 0;
        text-align: center;
    }
}